# .coveragerc
[run]
omit =
    */sendmail/migrations/*
    */sendmail/tests/*
    */sendmail/admin/*
    */demoapp/*
    */sendmail/django_compressor.py
    */sendmail/config.py
    */sendmail/checks.py
